body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table {

	width: 700px;
	

}

th, td {

	padding: 7px;
}

th {
	text-transform: uppercase;
	border-top: 2px solid #999;
	border-bottom: 2px solid #111;
	border-right: 2px solid #111;
	border-left: 2px solid #999;
	text-align: left;
	font-size: 90%;
	letter-spacing: 2.5px;
}

tr.alternado {
	background-color:#efefef ;
}

.numero {
	text-align: right;
}

tr:hover{
	background-color: #c3e6e5;}

.topo:hover {
	background-color: white;}

